<div style="text-align: center">
    <br/>
    <img src="~/images/shipped.png" alt="Could not load image" />
    <br />
    <h1>Order complete!</h1>
    <br/>
    <p>We will be contacting you within the next 48 hours to discuss the order.</p>
    <br /><br />
</div>
